.beerImg {
  margin-top: 10px;
  width: 130;
  height: 150px;
  z-index: 10;
}

.beer-card {
  align-items: center;
  border: 1px solid rgb(189, 189, 189);
  box-shadow: 1px 1px 1px rgb(182, 182, 182);
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding-bottom: 10px;
  width: 250px;
  background-color: white;

}

.beer-card p {
  font-size: 1.2rem;
  text-align: center;
  margin-top:5px;
  margin-bottom: 5px;
  background-color: rgb(249, 193, 11);
  padding: 2px;
  width: 90%;
}

.beer-card .bottom {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  width: 50%;
}

.beer-card span {
  margin: 10px 4px;
  font-weight: 400;
  font-size: 1.3rem;
  margin-top: 5px;
}

.bottom button {
  background-color: rgb(249, 193, 11);
  border: 0;
  width: 30px;
  font-size: 20px;
}

.bottom button:hover {
  border: 1px solid rgb(249, 193, 11);
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 1);
}