

col-lg-15 ul {
  text-decoration: none;
  list-style-type: none;
}

col-lg-15 li {
  text-decoration: none;
}

.col button {
  background-color: rgb(249, 193, 11);
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 1);
  border: none;
  color: white;
  padding: 0.15rem 0.8rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}

.col button :hover {
  background-color: rgb(0, 0, 0);
  box-shadow: 3px 3px 0px 0px rgb(255, 255, 255);
  color: white;
}

.list-group {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style-type: none;
}

.row {
  display: flex;
  align-self: center;
  justify-content: space-between;
  margin: 5px;
}

.row ul {
  list-style-type: none;
}
.row button {
  background-color: rgb(249, 193, 11);
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 1);
  border: none;
  color: black;
  padding: 0.15rem 0.8rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 8px;
  cursor: pointer;
}

.row button:hover {
  background-color: rgb(0, 0, 0);
  box-shadow: 3px 3px 0px 0px rgb(255, 255, 255);
  color: white;
}

.order-total {
  font-size: 1.5rem;
  font-weight: 300;
  padding-left: 500px;
  justify-self: flex-end;
  align-self: flex-end;
}

.container-end {
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: 'Roboto', sans-serif;
}

.container-end input{
  padding: 1px;
  font-size: 16px;
  border-width: 1px;
  border-color: #CCCCCC;
  background-color: #FFFFFF;
  color: #000000;
  border-style: solid;
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(0,0,0,.100);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}

.confirm-btn {
  background-color: rgb(249, 193, 11);
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 1);
  border: none;
  color: black;
  padding: 0.15rem 0.8rem;
  text-align: center;
  text-decoration: none;
  font-size: 1.5em;
  cursor: pointer;
  margin: 20px 0px;
}

.confirm-btn:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 1);
  border: none;
  color: black;
  padding: 0.15rem 0.8rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5em;
  cursor: pointer;
}
.address-title {
  margin: 2em, 0em;
  font-weight: 300;
}


.ver-carrinho {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.ver-carrinho button {
  border: 1px solid rgb(249, 193, 11);
  background-color: rgb(249, 193, 11);
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  color: black;
}

.ver-carrinho button:enabled:hover {
  background-color: rgb(249, 193, 11);
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 1);
  /* border: 2px solid greenyellow; */
  /* color:black; */
}

.ver-carrinho button:disabled {
  color: gray;
  font-weight: normal;
  border: 1px solid gray;
}

.ver-carrinho button i {
  font-size: 1.8rem;
}

.ver-carrinho:hover {
  text-decoration: none;
  cursor: pointer;
}

.ver-carrinho-flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.ver-carrinho-flex p {
  font-family: Roboto, sans-serif;
  font-size: large;
}

link {
  text-decoration: none;
}

.btn-value {
  font-size: 1.2rem;
  font-weight: 900;
}

.main-container-orders {
  width: 300px;
  margin-left: 250px;
}

.beer-img {
  width: 70px;
  position: absolute;
  margin-top: 0px;
  margin-left: 50px;
}

.register-container {
  color: white;
}
